.bashrc
.cache/
.conda/
.devcontainer/
.dotnet/
.gitconfig
.nv/
.vscode-server/
__pycache__/
core/__pycache__/
datasets/ShapeNetRendering/
datasets/ShapeNetVox32/
losses/__pycache__/
models/__pycache__/
models/decoder/__pycache__/
models/encoder/__pycache__/
models/merger/__pycache__/
models/transformer_base/__pycache__/
models/transformer_base/decoder/__pycache__/
models/transformer_base/encoder/__pycache__/
pths/UMIFormer+.pth
pths/UMIFormer.pth
utils/__pycache__/
output/
output_i/
prediction/
selection/
